@import "bootstrap/bootstrap.less";


.container {
  .container;
}

ul.view-switch-buttons {
  .nav;
  .nav-pills;
  a {
    cursor: pointer;
  }
}

#input-div h1 {
  color: red;
}

.submit-btn {
  .btn;
  .btn-primary;
}

.form-row(){
  .make-row();
  &:not(:first-child) {
    margin-top: 5px;
  }
}

.field-row {
  .form-row();
  .both() {
    display: inline-block;
  }
  label {
    .both();
    margin-right: 10px;
  }
  .input-field {
    .both();

  }
}

#input-form {
  .container;
  select, input:not([type=submit]), textarea {
    .form-control;
  }
  .submit-btn {
    .form-row();
  }
}
