
mixin view-switch-button(viewName, active)
  li(role='presentation',id=viewName+'-button', class=active?'active':'')
    a(href="#")= viewName

extends layout.jade

block view-switch-buttons
  +view-switch-button('input', true)
  +view-switch-button('analysis', false)
block views
  #input-div(style='')
    include input.jade
  #analysis-div(style='display:none;')
    include analysis.jade