//- parameters:
//-   @fields: array of objects
//-     example object: {
//-       mixinName: 'select',
//-       mixinArg0: {
//-         options: ['Swimming', 'Running']
//-       },
//-       name: 'Activity'
//-     }
//-  name and mixinName are required

mixin select(o)
  - var required = (required in o) ? o.required: true;
  select(name=o.name, required=required)
    option(value='', disabled, selected)= '(Select One)'
    - each opt in o.options
      option(value=opt)= opt

mixin number(o)
  - var required = (required in o) ? o.required: true;
  input(type='number', name=o.name, required=required)

h3 Add a new Activity Data Point
hr
form#input-form
  - each field in fields
    .field-row
      label= field.name
      span.input-field
        +#{field.mixinName}(field)
  input#input-submit.submit-btn(type='submit', disabled)
