doctype html
html
  head
    title Utrack-Sample: track your activities
    link(rel='stylesheet', href='/styles.css')
    <meta name=viewport content="width=device-width, initial-scale=1">

  body
    .container
      h1 UTrack
      hr
      ul.view-switch-buttons
        block view-switch-buttons
    
      .views
        block views
      hr
      .bottom
        p Copyright (c) 2015, Michael Hewson
